.body{
    background-color: #696969;
    background-image: url("../assets/imgs/logo-tela-login.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.listLevel{
    background-color: #000000;
    opacity: 0.8;
    font-weight: bold;
    color: white;
}

