page-verso-n7{
    .checkmark{
        background-color:#F0F8FF;
        opacity: 0.9;
        color: #006400;
        font-weight: bold;
    }
    .body{
        background-color: #696969;
        background-image: url("../assets/imgs/logo-tela-login.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    .conteudo{
        background-color: 	#808080;
        opacity: 0.9;
    }
    .conteudo-2{
        background-color: 	#696969;
        opacity: 0.9;
    }
    .list{
        background-color: #000000;
        opacity: 0.9;
        font-weight: bold;
        color: white;
    }
}
